body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.login-box {
  background: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 500px;
  height: 450px;
  
}

h2 {
  margin-bottom: 10px;
}

p {
  color: #666;
  font-size: 14px;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
}

.phone-input {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  background: white;
  margin:20px  0 20px 0px;
}


.phone-input input {
  flex: 1;
  border: none;
  padding: 10px;
  font-size: 16px;
  outline: none;
}

input[type="password"] {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  width: 100%;
  margin:0px  0 20px 0px;
}

.next {
  background: black;
  color: white;
  padding: 12px;
  font-size: 16px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

.next:hover {
  background: #333;
}

.error-message {
  color: red;
  font-size: 14px;
}

.success-message {
  color: green;
  font-size: 14px;
}
.checkbox-container {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 5px 0 10px 0;
}

.checkbox-container input {
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.checkbox-container label {
  font-size: 14px;
  cursor: pointer;
}
.signup-link {
  margin-top: 15px;
  font-size: 14px;
}

.signup-link a {
  color: blue;
  text-decoration: none;
}

.signup-link a:hover {
  text-decoration: underline;
}
.password-container {
  display: flex;
  align-items: center;
  position: relative;
}

.password-container input {
  width: 100%; 
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  transition: all 0.3s ease-in-out; 
}

.checkbox-container {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 5px;
}

.checkbox-container input {
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.checkbox-container label {
  font-size: 14px;
  cursor: pointer;
}
